.one {
  width: 95%;
  padding: 10px;
  background-color: darkblue;
}
.div1 {
  background-color: palegreen;
  width: 100px;
  height: 100px;
  border: 10px solid #5873e2;
  outline: 5px solid black;
  /* box-sizing: border-box; */
  box-shadow: -1px -1px 0 20px #90ffa9;
  margin-left: 700px;
  margin-top: 30px;
}
.circle {
  width: 25px;
  height: 25px;
  background-color: #99d8ca;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}
.line {
  border: none;
  border-top: 1px dotted darkgrey;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
  margin-top: 30px;
}
.circle1 {
  margin-left: 550px;
}
#sectionhome {
  width: 100%;
  /* margin-left: 300px; */
}
h1,
h3 {
  text-align: center;
}
.circle2 {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 100px;
}
.circle3 {
  width: 25px;
  height: 25px;
  background-color: #90ffa9;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 100px;
}
.circle4 {
  width: 25px;
  height: 25px;
  background-color: #5873e2;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 100px;
}
.class1 {
  color: darkgreen;
  text-decoration: none;
  margin-left: 650px;
}
.color {
  color: white;
  text-decoration: none;
  margin-left: 50px;
}
p {
  margin-left: 35px;
  margin-top: -1px;
}
.box {
  width: 200px;
  height: 100px;
  background-color: grey;
  margin: auto;
  display: inline-block;
  /* border: 5px solid white;
  outline: 1px solid black; */
}
#two {
  margin-left: 400px;
  border: 4px solid white;
  outline: 1px solid black;
  margin-right: 350px;
}
.box1 {
  width: 200px;
  height: 100px;
  background-color: grey;
  margin: auto;
  display: inline-block;
  border: 1px solid black;
  outline: 4px solid white;
}
#hello {
  margin-left: 400px;
  outline: 1px solid black;
  margin-right: 400px;
}
